*{
    margin:0;
    padding: 0;
}


  
.container{
    background-image: url("bg.jpg") ;
    background-size: cover;
    height: 625px;

  }


.box{
    box-sizing: border-box;
    text-align: center;
    padding-top: 10%;
    /* border:2px solid #444; */
    /* overflow: hidden; */
    /* display: block; */
}
.box h1{
    font-size:60px;
    color: blueviolet;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 20px;
}
.box h2{
    margin-bottom: 50px;   

}
.box h3{
  margin-top:40px;
}


.count_box{
    color: white;
    text-shadow: 5px 5px 5px #444;
    display: inline;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    font-size: 70px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #444;
    margin-right: 5px;
}

.count_Dawon_Box{
    text-align: center;
    margin: auto;
}
.Count_Box{
    display:inline;
    float:left;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /* font-size: 70px; */
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #444;
    margin-right: 5px;
}

p{
    display:inline;
    font-size: 20px;
}




#day{

}
#hour{

}
.minute{

}
#second{

}